.footer {
  background-color: $bg-header;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  nav {
    li {
      &:first-child {
        margin-top: 1rem;
      }
      margin-bottom: 1rem;
      a {
        color: #fff;
      }
    }
  }
  &__svg {
    //hide by default
    display: none;
  }
}
