.skills {
  background-image: linear-gradient(180deg, #6e00ff 0%, #b27bfb 100%);
  padding: 12% 7%;
  margin-top: 1rem;
  &__card {
    background-color: white;
    padding: 10% 15px;
    border-radius: 15px;
    text-align: center;

    // add margens to every card exept for the last one
    &:not(:last-child) {
      margin-bottom: 10%;
    }

    img {
      width: 50px;
    }
    // adjust the width of second card image
    &:nth-child(2) {
      img {
        width: 120px;
      }
    }

    &__title {
      margin: 15px;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0em;
      text-transform: uppercase;
      white-space: nowrap;
    }

    p {
      margin: 0 10%;
    }
  }
}
